html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* Отступ, чтобы хедер не перекрывал заголовки */
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.guilloche-bg {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(212, 175, 55, 0.05) 10px, rgba(212, 175, 55, 0.05) 11px),
    repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(212, 175, 55, 0.05) 10px, rgba(212, 175, 55, 0.05) 11px);
}

.wood-texture {
    background-color: #292524;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H20v2h20v2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20v-2H0v-2h20z' fill='%23431407' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.perspective-1000 {
    perspective: 1000px;
}

.rotate-y-6 {
    transform: rotateY(-6deg) rotateX(2deg);
}

.card-hover:hover {
    transform: rotateY(0deg) rotateX(0deg) scale(1.02);
}

/* Скрываем скроллбар в модальном окне */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Анимация для FAQ */
details[open] summary ~ * {
    animation: fadeIn 0.3s ease-in-out;
}
/* --- Анимация для Хита Продаж (М-30) --- */
@keyframes glow-pulse {
    0% {
        box-shadow: 0 10px 15px -3px rgba(217, 119, 6, 0.2), 0 4px 6px -2px rgba(217, 119, 6, 0.1);
        border-color: rgba(217, 119, 6, 0.5);
    }
    50% {
        box-shadow: 0 20px 25px -5px rgba(217, 119, 6, 0.5), 0 10px 10px -5px rgba(217, 119, 6, 0.3);
        border-color: rgba(217, 119, 6, 1);
        transform: scale(1.02); /* Легкое увеличение */
    }
    100% {
        box-shadow: 0 10px 15px -3px rgba(217, 119, 6, 0.2), 0 4px 6px -2px rgba(217, 119, 6, 0.1);
        border-color: rgba(217, 119, 6, 0.5);
    }
}

.hit-card {
    /* Применяем анимацию: 3 секунды, бесконечно, плавно */
    animation: glow-pulse 3s infinite ease-in-out;
}